.sd-container-modern {
    margin-bottom: 4px;
}
.optionsForm {
    padding: 0px 8px 6px 8px;
}
.creator_height {
    height: 100vh;
}
.survey-complete-btn {
    background-color: #1900ff; 
    color: #ffffff;
}